In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
roms = pd.concat([pd.DataFrame(
    [{'arab':a.text.split()[0],'roman':a.text.split()[1]} for a in \
 BeautifulSoup(requests.get('https://smorgasborg.artlung.com/roman-numerals/page/%d' % p) \
              .content,'html5lib').find('pre').find_all('a')]) for p in range(1,11)])\
    .loc[lambda df: df['arab'] != '0',:]

In [3]:
def rom2ar_test(fun): # ez azokat az eseteket adja vissza, ahol az átváltás helytelen
    calc = roms['roman'].apply(fun)
    tru = roms['arab'].apply(int)
    return roms[calc != tru]

In [4]:
def rom2ar(rom_string):
    if rom_string == 'V':
        return 5
    elif rom_string == 'X':
        return 10
    else:
        return 3

In [5]:
rom2ar_test(rom2ar)

       arab              roman
1         1                  I
2         2                 II
4         4                 IV
6         6                 VI
7         7                VII
...     ...                ...
996    9996    MMMMMMMMMCMXCVI
997    9997   MMMMMMMMMCMXCVII
998    9998  MMMMMMMMMCMXCVIII
999    9999    MMMMMMMMMCMXCIX
1000  10000         MMMMMMMMMM

[10006 rows x 2 columns]